.resources__logo {
  margin: 80px 0 217px;
  list-style-type: none;
  background-size: contain;
}
.resources__logo img:nth-of-type(n){
height: 38px;
width: 270px;
}

.resources__logo:hover {
  opacity: 0.5;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
