/*Добавил внутренний отступ как на макете, но высота всего блок стала 890пх если добавить
всему блоку(.feynman) свойство box-sizing: border-box; то проблема с высотой всего блока 790пх будет решена
но тогда съедут вниз все элементы и будет различие между макетом и сайтом, по этому и решил не применять
свойство box-sizing: border-box; дабы придерживатья макета.*/
.feynman {
  background-color: #f2f2f2;
  min-height: 790px;
  position: relative;
  padding: 100px 0 0;
}
