/*header
Начало стилей 1 блока макета*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  /*задаю относительное позиционирование для heder что бы расположить внутри него элементы*/
  position: relative;
  background-color:  #f2f2f2;
  /*Дисплей флекс задал для заголовка .header__title что бы выровнить его по центру вертикальной оси*/
  display: flex;
  /*прописываем  (overflow: hidden) для квадрата*/
  overflow: hidden;
}
