.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*Начало стилей хедер*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  /*задаю относительное позиционирование для heder что бы расположить внутри него элементы*/
  position: relative;
  background-color:  #f2f2f2;
  /*Дисплей флекс задал для заголовка .header__title что бы выровнить его по центру вертикальной оси*/
  display: flex;
}

.logo{
height: 32px;
width: 183px;
}

.logo__place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}
/*Ниже в стиле описываю расположение блока с элементом заголовок(h1)*/
.header__title{
  margin-left: 64px;
  width: 730px;
  align-self: center;
}
/*Стили для элемента h1 в блоке .header__title*/
.header__title_size{
  font-weight: bold;
  font-size: 102px;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
}

.header__text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*Добавлен модитификатор для размера картинки*/
.header__main-illustration_size{
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color:#2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  bottom: 64px;
  right: 0;
}
/*Конец стилей header*/

.content {
}

.description {
  padding: 100px 0;
  align-items: flex-start;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__bried {
  width: 175px;
}

.two-columns__bried_text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  align-self: flex-start;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: normal;
}

.two-columns__span-accent{
  font-weight: bold;
}

.digits {
  padding: 100px 0;
}
.section-title {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.section-title__text{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.section-subtitle {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.section-subtitle__text{
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

.table {
  display: grid;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}
.table_columns{
  grid-template-columns: 250px 250px 250px 250px;
}
.table__cell {
  margin-top: 60px;
}
.teble__heading{
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text{
  margin: 0 0 20px;
  line-height: 1.2;
  font-size: 18px;
}
.table__text-sub{
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  background-color: #f2f2f2;
  height: 790px;
  position: relative;
  padding: 100px 0 0;
}
.feynman__title {
  padding: 0;
  margin: auto;
  width: 648px;
  position: absolute;
  top: 100px;
  left: 476px;
  z-index: 1;
}
.feynman__title_text {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: auto;
  width: 648px;
  position: absolute;
  top: 50%;
  left: 476px;
  z-index: 1;
}
.feynman__subtitle_text {
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
}
.feynman__link_text {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__image {
  height: 637px;
  width: 867px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
/*Начало стилей для блока .kaufman*/
.kaufman {
  background-color: #000;
  padding: 90px 0;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
}
/* Ранее в коде уже прописывались стили для заголовков и подзаголовков
.section-title {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.section-title__text{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.section-subtitle {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.section-subtitle__text{
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}*/
.kaufman-title_theme_dark {
  color: white;
}

.kaufman-subtitle_theme_dark {
  color: white;
}
/* ранее в коде был прописан стиль для таблицы с использованием грид
.table {
  display: grid;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}*/
.table_theme_dark {
  grid-template-columns: 200px 200px 200px 200px 200px;
  position: relative;
  z-index: 1;
  }
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
/* Ниже будут указаны */
.table__heading_theme_dark {
}
.table__text_theme_dark {
}
.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}
.kaufman__triangle_size{
  height: 877px;
  width: 877px;
}
/*Конец стией для блока .kaufman*/
