.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  /*задаю относительное позиционирование для heder, что бы расположить внутри него дочерние элементы*/
  position: relative;
  background-color:  #f2f2f2;
  display: flex;
}

.logo{
height: 32px;
width: 183px;
}

.logo__place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  margin-left: 64px;
  width: 730px;
  align-self: center;
}

.header__title_size{
  font-weight: bold;
  font-size: 102px;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
}

.header__text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*Добавлен модитификатор для размера картинки*/
.header__main-illustration_size{
  width: 765px;
  height: 608px;
}

.square-pic{
  background-color:#2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  bottom: 64px;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.content {
}

.description {
  padding: 100px 0;
  align-items: flex-start;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__bried {
  width: 175px;
}

.two-columns__bried_text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  align-self: flex-start;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: normal;
}

.two-columns__span-accent{
  font-weight: bold;
}

.digits {
  padding: 100px 0;
}
.section-title {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.section-title__text{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.section-subtitle {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.section-subtitle__text{
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}
.table {
  display: grid;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: ;
}
.table__cell {
  margin-top: 60px;
}
.teble__heading{
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text{
  margin: 0 0 20px;
  line-height: 1.2;
  font-size: 18px;
}
.table__text-sub{
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
